*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

.container{
    padding: 10px 10%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

/* Add gap below page titles on specific pages */
#about .sub-title,
#services .sub-title,
#portfolio .sub-title,
#mentors .sub-title {
    margin-bottom: 40px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

/* -------------css for small screens-------------- */

nav [class^="fa"],
nav [class*=" fa-"] {
  display: none;
}

@media only screen and (max-width: 600px){
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}
